.homepage {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.h1-welcome {
  top: 30%;
  font-weight: bold;
  color: black;
  text-align: center;
}

.lead-paragraph {
  top: 40%;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
